body {
  background-color: rgb(116, 239, 255) ;
  display: flex;
  justify-content: center;
  padding: 56px;
}

.container {
  border: 2px solid red;
  padding: 24px 56px;
  background-color:  rgb(255, 246, 116);
  width: 100%;
  max-width: 1500px;
}

h1 {
  font-size: 100px;
  color: rgb(133, 0, 151);
}

h1:hover {
  transition: background-color 1000ms;
  background-color: rgb(146, 255, 106);
}

p {
  font-size: 24px;
}

li{
  font-size: 22px;
  font-style:italic;
  margin-bottom: 5px;
}

button {
  font-size: 24px;
  animation: float 700ms infinite alternate-reverse;
  border-radius: 10px;
  margin: 24px;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.mid {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  font-size: x-large;
}
.req {
 background-color: #6030b1;
 border-radius: 50px;
 border-color: blue;
 padding:5px 12px;
 color: white;
 transition: all 300ms ease;
}

.req:hover{
  background-color: #5d3eff;
}
