h1 {
  font-size: 100px;
  color: rgb(133, 0, 151);
}

h1:hover {
  transition: background-color 1000ms;
  background-color: rgb(146, 255, 106);
}

p {
  font-size: 20px;
}

button {
  font-size: 24px;
  animation: float 700ms infinite alternate-reverse;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.mid {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  font-size: x-large;
}
.requir {
  
  display:flex;
  align-items: center; 
  
}
