body {
  background-color: rgb(246, 255, 114);
}
.box {
  width: 100%;
  height: 500px;
  background-color: rgb(255, 239, 99);
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: 5px solid rgb(236, 91, 255);

  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: 10px 10px 10px 10px;
}

.home {
  font-size: x-large;
}
.mainpage {
  width: 100%;
  height: 300px;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px -10px;
}
h1 {
  color: blue;
  font-size: x-large;
  margin: 10px 10px 10px 60px;
}
h2 {
  color: blue;
  font-size: x-large;
  margin: 80px 10px 10px 60px;
}
